.LandingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LandingPage__img {
  height: 2rem;
  position: fixed;
  top: 15vh;
  animation: 700ms 1 slide-in-from-top; 
}

.LandingPage__div {
  position: fixed;
  background: linear-gradient(#243461, #121524);
  top: 0;
  right: 0;
  z-index: -1;
  animation: 700ms 700ms 1 slide-from-upper-right forwards;
}

.LandingPage__h1 {
  position: relative;
  top: 26vh;
  color: #a5c5f5;
  font-weight: 300;
  letter-spacing: 1.5rem;
  opacity: 0;
  animation: 500ms 750ms 1 fade-in forwards;
}

.LandingPage__p {
  position: relative;
  top: 27vh;
  color: #a5c5f5;
  font-weight: 300;
  letter-spacing: 1rem;
  animation: 5s 1 slide-from-bottom forwards;
}

.LandingPage__button {
  height: 5rem;
  width: 8rem;
  position: fixed;
  top: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  animation: 5s 2s 1 fade-in forwards;
  transition: all 0.5s;
}

.LandingPage__button:hover {
  cursor: pointer;
  box-shadow: inset 0 -4px 0 0 #0077BC;
}

.LandingPage__button:active {
  box-shadow: inset 0 -4px 0 0 #d67f1c;
}

@keyframes slide-in-from-top {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-from-upper-right {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
