.LandingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e2a4b; 
  z-index: -1; 
}

.LandingPage__img {
  height: 3rem;
  position: fixed;
  top: -10vh;
  animation: 1.5s 1 slide-in-from-top; 
  z-index: 2;
}

.LandingPage__div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-image: url('/assets/images/landing-page-background.jpeg');
  background-position: center;
  background-size: cover;
  top: -100%;
  z-index: 0;
  animation: 300ms 1.25s 1 slide-from-upper-right forwards;
}

.LandingPage__h2 {
  position: relative;
  top: 35vh;
  color: rgba(14, 0, 25, 0.8);
  font-weight: 500;
  letter-spacing: 1.75rem;
  opacity: 0;
  z-index: 2;
  animation: 4s 1s 1 slide-from-bottom forwards;
}

.LandingPage__button {
  height: 5rem;
  width: 8rem;
  position: fixed;
  top: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: transparent;
  border: none;
  color: rgba(14, 0, 25, 0.8);
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 2;
  animation: 5s 2.25s 1 fade-in forwards;
  transition: all 0.5s;
}

.LandingPage__button:hover {
  cursor: pointer;
  box-shadow: inset 0 -4px 0 0 #0077BC;
}

.LandingPage__button:active {
  box-shadow: inset 0 -4px 0 0 #d67f1c;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(50vh);
  }
  80% {
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(0);
  }

}

@keyframes slide-from-upper-right {
  from {
    top: -100%;
    /* right: 0; */
  }
  to {
    top: 0;
    /* left: -100%; */
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
