.LandingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LandingPage__img {
  height: 2rem;
  position: fixed;
  top: 10vh;
  z-index: 100;
  animation: 1s 1 slide-in-from-top; 
}

.LandingPage__div {
  position: fixed;
  background-color: #1c243d;
  top: 0;
  right: 0;
  z-index: 0;
  animation: 700ms 700ms 1 slide-from-upper-right forwards;
}

.LandingPage__p {
  position: relative;
  top: 20vh;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1rem;
  z-index: 100;
  animation: 5s 1 slide-from-bottom forwards;
}
