.LandingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LandingPage__img {
  height: 2rem;
  position: fixed;
  top: 10vh;
  z-index: 100;
  animation: 1s 1 slide-in-from-top; 
}

.LandingPage__div {
  position: fixed;
  background-color: #1c243d;
  top: 0;
  right: 0;
  z-index: 0;
  animation: 700ms 700ms 1 slide-from-upper-right forwards;
}

.LandingPage__p {
  position: relative;
  top: 20vh;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1rem;
  z-index: 100;
  animation: 5s 1 slide-from-bottom forwards;
}

@keyframes slide-in-from-top {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-from-upper-right {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0);
  }
}
