.PCA div {
  position: fixed;
  background-color: #1e2a4b; 
  z-index: 4;
}

.PCA__div-top,
.PCA__div-bottom {
  height: 50vh;
  width: 100%;
}

.PCA__div-top {
  top: -50vh;
}

.PCA__div-bottom {
  top: 100vh;
}

.PCA__div-left,
.PCA__div-right {
  height: 100vh;
  width: 50vw;
}

.PCA__div-left {
  left: -50vw;
}

.PCA__div-right {
  left: 100vw;
}