.Header {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../assets/main-page-background.jpeg');
  background-size: cover;
  background-position: bottom;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.Header__img {
  height: 4rem;
}