.SearchForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.SearchForm__div-input {
  height: 2rem;
  width: 32rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #acc1fc;
  border-radius: 50px;
  overflow: hidden;
}

.SearchForm__div-select {
  width: 32rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem, 1rem;
}

.SearchForm__input {
  height: 100%;
  width: 100%;
  border: none;
  margin-left: 0.5rem;
  font-size: 0.75rem;
  background-color: #fff;
}

.SearchForm__input::placeholder {
  font-style: italic;
}

.SearchForm__button {
  height: 100%;
  width: 3rem;
  background: #6384df;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchForm__img {
  height: 1rem;
  width: 1rem;
  border: none;
  background-color: #6384df;
}

.SearchForm__select {
  width: 10rem;
  height: 1.5rem;
}
