.Row {
  height: 8.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem 0;
}

.Row:hover {
  cursor: pointer;
}

.Row__div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Row p {
  margin: 0;
  vertical-align: text-bottom;
}

.Row__p-name {
  color: #567194;
  font-size: 1.2rem;
  font-weight: 300;
}

.Row__p-city {
  color: #888;
  font-size: 1rem;
}